* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* transform
    animation
*/

@keyframes boxMove {
    0% {
        transform: translateX(-200px);
    }
    33% {
        transform: translateY(-200px);
        background: yellow;
    }
    66% {
        transform: translateY(200px);
        background: blue;
    }
    100% {
        transform: translateX(-200px);
    }
}

.box {
    width: 100px;
    height: 100px;
    background: red;
    animation: boxMove 5s forwards;
}
